<h2 class="title">Tweets</h2>
  <ol class="tweets">
    <li class="tweet clearfix" id="5">
      <a href="/users/nazar"><img alt="Nazar Taran" class="gravatar" src="https://secure.gravatar.com/avatar/307a99b1eff78a2ca24d7c4097712f75?s=50"></a>
      <div class="content">
        <div class="user">
          <% current_user.tweets.each do |t| %>
          <p>
            <%= link_to "#{current_user.first_name} #{current_user.last_name}", current_user %>
          </p>
          <div class="tweet-content"><%= t.text %></div>
          <div class="tweet-footer">
            <posted>Posted:<%= time_ago_in_words(t.created_at) %> ago</posted>
            <div class="tweet-actions">
              <%= link_to "Delete", tweet_path(id: t.id), method: :delete,
                                       data: { confirm: "You sure?" } %>
            </div>
          </div>
        <% end %>
        </div>
      </div>
    </li>
  </ol>
