<!--% provide(:title, 'All users') %-->
<div class="container">
  <% @users.each do |user| %>
    <div class="inline-block"><%= image_tag(user.avatar.url, alt: 'Avatar', width: '100', heigth: '100', class: 'img-circle') if user.avatar? %></div>
    <p>
      <strong>User:</strong>
      <%= link_to "#{user.first_name} #{user.last_name}", user %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= user.email %>
    </p> 
  <% end %>
  
  <%= will_paginate @users, previous_label: h("<"), next_label: h(">") %>
</div>
