<!--% provide(:title, 'All users') %-->
<div class="container">
  <% @users.each do |user| %>
    <p>
      <strong>User:</strong>
      <%= link_to "#{user.first_name} #{user.last_name}", user %>
    </p>
    <p>
      <strong>Email:</strong>
      <%= user.email %>
    </p> 
  <% end %>
</div>
